html, a, body, h1, h2, h3, h4, h5, h6, p {
	font-family: Abel;        /* MAIN COLOR: darkred */
	padding:     0;           /* SECD COLOR: #DB3D23 */
	margin:      0;
	text-decoration: none;
}
::selection { background: #DB3D23; }
#content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: ; }
a { font-weight: bold; color: darkred; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; text-decoration: none; }
a:hover { background-color: ; color: #DB3D23; }
/* Sidebar Styling */
.sidebar { position: fixed; float: left; padding: 0; margin-top: 0; height: 100vh; width:  220px; background-color: white; border-right: 5px solid darkred; }
.logo { display: block; width: auto; margin: auto; }
.navbar { margin-top: 10%; font-size: 20px; display: block; }
.navbar ul { padding-left: 1.8em; list-style: none; }	
.navbar li  { font-weight: bold; color: darkred; padding: 1.2em; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; text-decoration: none; }
li:hover { background-color: ; color: #DB3D23;}
#home:before { font-family: 'FontAwesome'; content: '\f015'; margin:0 12px 0 -15px; color: black }
#repo:before { font-family: 'FontAwesome'; content: '\f126'; margin:0 19px 0 -15px; color: black; }
#abou:before { font-family: 'FontAwesome'; content: '\f128'; margin:0 20px 0 -15px; color: black; }
#exra:before { font-family: 'FontAwesome'; content: '\f0ad'; margin:0 13px 0 -15px; color: black; }
#cont:before { font-family: 'FontAwesome'; content: '\f098'; margin:0 13px 0 -15px; color: black; }
.footer { position: fixed; display: block; bottom: 0; height: 80px; left: 43px; }
.dl { color: darkred; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; }
.dl:hover { color: #DB3D23; }

/* Body styling */
.body {
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; background-color: ;
	margin-left: 220px;
}
.body hr {
	background-color: darkred;
	height: 3px;
	width: 900px;
}
.content {
	padding-top: 9.55em;
	padding-left: 1.5em;
	padding-right: 3.5em;
}
.page-content {
	color: black;
}
.sub-title {
	font-size: 15px;
	font-style: italic;
}
.postline {
	font-size: 15px;
	font-style: italic;
	border-bottom: 1px solid black;
	padding-bottom: .5em;
}
.post {
	padding-top: 2.5em;
}
.sub {
	font-size: 18px;
	font-style: italic;
}
.center {
	text-align: center;
}

/* Project Page */
.row-top {
	height: 270px;
	
}
.row-top > div > a {
	font-size: 14px;
	float: right;
	padding-right: .8em;
	font-weight: bold; color: darkred; padding: 1.2em; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; text-decoration: none;
}
.row-top > div > a:hover {
	background-color: ; color: #DB3D23;
}
.col-1, .col-2, .col-3, .col-4 {
	width: 380px;
	float: left;
	background-color: white;
	height: 250px;
	padding: 10px;
	margin-top: 20px;
}
.pic {
	height: 80px;
	width: 100%;
	background-color: grey;
}
.hook {
	position: relative;
	padding-left: 10px;
}
.row-more {
	height: 270px;
}
.row-more > div > a {
	font-size: 14px;
	float: right;
	padding-right: .8em;
	font-weight: bold; color: darkred; padding: 1.2em; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; text-decoration: none;
}
.row-more > div > a:hover {
	background-color: ; color: #DB3D23;
}
.cap {
	font-size: 15px;
	font-style: italic;
}

